@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-text-main: #ffffff;
    --clr-accent: #808080;
    --clr-accent-light: #535353;
    --clr-bg: #000000;
    --clr-hr: #2d2d2d;
    --clr-delete: #fc1a1a;
    --ff-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    --ff-accent: 'Volkhov', serif;
}

:root.light {
    --clr-text-main: #13120f;
    --clr-accent: #534e44;
    --clr-accent-light: #948a79;
    --clr-bg: #f5e8d4;
    --clr-hr: #b6a892;
}

html {
    font-size: 84%;
}

body {
    font-family: var(--ff-primary);
    color: var(--clr-text-main);
    background: var(--clr-bg);
}

h1 {
    font-family: var(--ff-accent);
    font-size: 2.3rem;
}

h2 {
    font-size: 1.75rem;
}

button {
    background: none;
    border: none;
}

button:enabled:hover:not(.modal-add-book button) {
    color: var(--clr-text-main);
    cursor: pointer;
}

.blur {
    filter: blur(2px);
}

header,
main {
    margin: 0 2.5%;
}

header {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.875rem;
}

header i {
    font-size: 1.6rem;
}

.theme {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.theme i {
    width: 1.8rem;
    transition: all 400ms ease-in;
    cursor: pointer;
}

input#theme-toggle {
    display: none;
}

.category {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: relative;
}

.category::before {
    content: '';
    width: calc(100% + 1.65rem);
    height: 2px;
    background: var(--clr-hr);
    position: absolute;
    top: -0.875rem;
}

.btn-add-book {
    color: var(--clr-accent-light);
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(18.75rem, 30%));
    gap: 3.65rem;
}

.book-cover {
    height: 26.25rem;
    border-radius: 18px 0 0 13px;
    padding: 0.8em 0.9em 0 0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.45em;
    position: relative;
}

.book-cover::before {
    content: '';
    width: 96.5%;
    height: 1.25rem;
    border-radius: 10px 0 0 10px;
    background: white;
    position: absolute;
    top: 0.625rem;
    right: 0.3rem;
}

.book-cover::after {
    content: '';
    width: 0.5rem;
    height: 97.5%;
    background: white;
    position: absolute;
    top: 0.625rem;
    right: 0.25rem;
}

.book-title {
    font-weight: bold;
}

.book-info {
    padding: 0.625rem 0;
    color: var(--clr-accent);
    display: flex;
    align-items: center;
    position: relative;
}

.book-info i {
    font-size: 1.1rem;
}

.book-info::after {
    content: '';
    width: 0.8rem;
    height: 10px;
    border-radius: 35px 0 0 5px;
    background: var(--clr-bg);
    position: absolute;
    bottom: 2.45rem;
    right: -0.05rem;
}

.book-pages::before {
    content: '|';
    margin: 0 0.3em;
}

.book-pages::after {
    content: 'Pages';
    margin-left: 0.2em;
}

.btn-book-status {
    font-size: 1rem;
    color: var(--clr-accent);
}

.btn-book-status i {
    margin-right: 0.3em;
}

.btn-delete-book {
    color: var(--clr-accent);
    position: absolute;
    right: 0;
}

.btn-delete-book:enabled:hover {
    color: var(--clr-delete);
}

.modal-add-book {
    width: max(320px, 25%);
    border: 2px solid var(--clr-accent);
    border-radius: 20px;
    padding: 2em 1.75em;
    background: var(--clr-bg);
    font-size: 1.25rem;
    display: none;
    flex-direction: column;
    gap: 0.8em;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-add-book input,
.modal-add-book select {
    border: 2px solid var(--clr-accent);
    border-radius: 7px;
    font-size: 1.125rem;
    cursor: pointer;
}

.modal-add-book input {
    padding: 0.3em;
}

.modal-add-book input[type='color'] {
    width: 3.5em;
    height: 2em;
}

.modal-add-book select {
    padding: 0.3em 0.6em;
}

[class^='input-row'] input,
.btn-submit-book {
    background: transparent;
    color: var(--clr-text-main);
}

[class^='input-row'] {
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
}

.input-row-cover-color,
.input-row-text-color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-remove-modal {
    font-size: 1.5rem;
    color: var(--clr-accent);
    position: absolute;
    top: 0.65em;
    right: 0.6em;
    cursor: pointer;
}

.btn-remove-modal:hover {
    color: var(--clr-delete);
}

.btn-submit-book {
    width: 70%;
    border: 2px solid var(--clr-text-main);
    border-radius: 7px;
    margin: 0.65em auto 0;
    padding: 0.35em 0;
    font-size: 1.25rem;
    color: var(--clr-text-main);
    display: block;
    cursor: pointer;
}

.btn-submit-book:hover {
    color: var(--clr-bg);
    background: var(--clr-text-main);
}

@media (max-width: 935px) {
    html {
        font-size: 75%;
    }

    header,
    main {
        margin: 0 2.5%;
    }

    .library {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 17.5rem);
        gap: 1.875rem;
    }

    .book-cover {
        height: 24.65rem;
    }
}

@media (max-width: 715px) {
    html {
        font-size: 65%;
    }
}
