@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 100ms ease-in, background 100ms ease-in, border-color 100ms ease-in;
}

:root.dark {
    --color-one: white;
    --color-two: gray;
    --color-three: #535353;
    --color-four: #535353;
    --background: black;
}

:root.light {
    --color-one: #13120f;
    --color-two: #534e44;
    --color-three: #d4c4ab;
    --color-four: #948a79;
    --background: #f0ddc2;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-one);
    background: var(--background);
}

header {
    padding: 20px 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Volkhov', serif;
    font-size: 2.3rem;
}

h2 {
    margin: 0 6px;
    font-size: 1.8rem;
}

i {
    font-size: 1.8rem;
}

hr {
    margin: 0 2.5%;
    border-color: var(--color-three);
}

button {
    background: none;
    border: none;
}

button:enabled:hover {
    cursor: pointer;
}

#theme {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

#theme input {
    display: none;
}

#theme i {
    cursor: pointer;
    transition: all 650ms ease-in;
}

#clicked {
    font-size: 2.3rem;
    transform: rotate(360deg);
}

#library-header {
    margin: 30px 2.5%;
    display: flex;
    align-items: center;
    position: relative;
}

#add-book-btn {
    color: var(--color-four);
    position: absolute;
    right: 0;
}

#add-book-btn:enabled:hover,
.status:enabled:hover {
    color: var(--color-one);
}

#library-container {
    margin: 0 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(300px, 30%));
    gap: 4%;
}

.book-cover {
    padding: 15px 18px 0 10px;
    height: 420px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 18px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.book-cover::before {
    content: '';
    width: 96.5%;
    height: 20px;
    background: white;
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 10px 0 0 10px;
}

.book-cover::after {
    content: '';
    width: 8px;
    height: 97.5%;
    background: white;
    position: absolute;
    top: 10px;
    right: 4px;
}

.book-info {
    padding: 10px 0;
    color: var(--color-two);
    display: flex;
    align-items: center;
    position: relative;
}

.book-info i {
    margin: 0;
    font-size: 1.2rem;
    transition: none;
}

.book-info::after {
    content: '';
    width: 13px;
    height: 10px;
    background: var(--background);
    position: absolute;
    bottom: 39px;
    right: -1px;
    border-radius: 35px 0 0 5px;
    transition: all 100ms ease-in;
}

.title {
    margin-bottom: 10px;
    font-weight: bold;
}

.pages {
    font-size: 1rem;
}

.pages::before {
    content: '|';
    margin: 0 3px;
}

.pages::after {
    content: 'Pages';
    margin-left: 4px;
}

.status {
    margin-left: 5px;
    font-size: 1rem;
    color: var(--color-two);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transition: none;
}

.status i {
    margin-right: 5px;
}

.delete-btn {
    color: var(--color-two);
    position: absolute;
    right: 0;
}

.delete-btn:enabled:hover,
#book-form > i:hover {
    color: #fc1a1a;
}

#book-form {
    padding: 35px;
    background: var(--background);
    border: 2px solid gray;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#book-form > i {
    color: gray;
    position: absolute;
    top: 17px;
    right: 13px;
    cursor: pointer;
}

.form-row {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.form-row:nth-last-of-type(2),
.form-row:last-of-type {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-row:nth-last-of-type(2) {
    margin-bottom: 7px;
}

.form-row label,
#form-submit-btn {
    font-size: 1.3rem;
}

.form-row label {
    color: var(--color-one);
}

select,
.form-row input,
#form-submit-btn {
    background: transparent;
    border: 2px solid gray;
    border-radius: 7px;
    color: var(--color-one);
}

.form-row input {
    appearance: none;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

select:focus,
.form-row input:focus {
    outline: 2px solid #5a5af8;
}

select,
#form-submit-btn {
    width: 100%;
    margin-bottom: 15px;
    padding: 4px 8px;
}

select {
    margin: 5px 0 35px;
    font-size: 1.2rem;
    color: black;
    background: white;
}

input[type='color'] {
    width: 65px;
    height: 38px;
    padding: 4px;
}

#form-submit-btn {
    width: 80%;
    margin: 0 auto;
    padding: 5px 10px;
    color: var(--color-one);
    border-color: var(--color-one);
    display: block;
    cursor: pointer;
}

#form-submit-btn:hover {
    color: var(--background);
    background: var(--color-one);
}

@media (max-width: 935px) {
    #library-container {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 280px);
        gap: 30px;
    }

    .book-cover {
        height: 395px;
    }
}
