* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: black;
}

h1 {
    padding: 20px 2.5%;
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

i {
    margin-right: 7px;
    font-size: 1.8rem;
}

hr {
    margin: 0 2.5%;
    border-color: #535353;
}

button {
    background: none;
    border: none;
}

button:enabled:hover {
    cursor: pointer;
}

#books-header {
    margin: 30px 2.5%;
    display: flex;
    align-items: center;
    position: relative;
}

#add-book-btn {
    color: #535353;
    position: absolute;
    right: 0;
}

#add-book-btn:enabled:hover,
[data-book-property='status']:enabled:hover {
    color: white;
}

#library-container {
    margin: 0 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(300px, 30%));
    gap: 4%;
}

.book-cover,
.book-info {
    width: 100%;
}

.book-cover {
    padding: 15px 18px 0 10px;
    height: 420px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: gray;
    border-radius: 18px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.book-cover::before {
    content: '';
    width: 96.5%;
    height: 20px;
    background: white;
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 10px 0 0 10px;
}

.book-cover::after {
    content: '';
    width: 8px;
    height: 97.5%;
    background: white;
    position: absolute;
    top: 10px;
    right: 4px;
}

.book-info {
    padding: 10px 0;
    color: gray;
    display: flex;
    align-items: center;
    position: relative;
}

.book-info i {
    margin: 0;
    font-size: 1.2rem;
}

.book-info::after {
    content: '';
    width: 13px;
    height: 10px;
    background: black;
    position: absolute;
    bottom: 39px;
    right: -1px;
    border-radius: 35px 0 0 5px;
}

[data-book-property] {
    font-size: 20px;
}

[data-book-property='title'] {
    margin-bottom: 10px;
    font-weight: bold;
}

[data-book-property='pages'] {
    font-size: 1rem;
}

[data-book-property='pages']::before {
    content: '|';
    margin: 0 3px;
}

[data-book-property='pages']::after {
    content: 'Pages';
    margin-left: 4px;
}

[data-book-property='status'] {
    margin-left: 5px;
    font-size: 1rem;
    color: gray;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

[class^='delete-btn'] {
    color: gray;
    position: absolute;
    right: 0;
}

[class^='delete-btn']:enabled:hover {
    color: #fc1a1a;
}

#book-form {
    padding: 35px;
    background: black;
    border: 2px solid gray;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.form-row {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

label,
#form-submit-btn {
    font-size: 1.3rem;
}

input,
select,
#form-submit-btn {
    background: transparent;
    border: 2px solid gray;
    border-radius: 7px;
    color: white;
}

input {
    appearance: none;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

select,
#form-submit-btn {
    width: 100%;
    margin-bottom: 15px;
    padding: 4px 8px;
    color: white;
}

select {
    margin: 5px 0 35px;
    font-size: 1.2rem;
}

.form-row:nth-last-of-type(2),
.form-row:last-of-type {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-row:nth-last-of-type(2) {
    margin-bottom: 7px;
}

input[type='color'] {
    width: 65px;
    height: 38px;
    padding: 4px;
}

#form-submit-btn {
    width: 80%;
    margin: 0 auto;
    padding: 5px 10px;
    border-color: white;
    display: block;
    cursor: pointer;
}

#form-submit-btn:hover {
    color: black;
    background: white;
}

#dummy-book {
    display: none;
}

@media (max-width: 935px) {
    #library-container {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 280px);
        gap: 30px;
    }

    .book-cover {
        height: 395px;
    }
}
